@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr;
    grid-template-rows: .6fr 1fr 1fr;
    font-family: "Roboto", sans-serif;
}


.sidebar {
    grid-row: 1/4;
    padding: 15px 20px;
    background: rgba(25, 146, 212);
    color: white;
}

.sidebar img {
    filter: brightness(0) invert(1);
}

.sidebar div {
    border: none;
}

header {
    grid-column:2/4;
    padding: 0px 75px;
    box-shadow: 0px 5px 4px 1px rgba(0,0,0,0.3);
    position: relative;
    z-index: 2;
}

main {
    grid-area:2/2/4/4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 30px 75px;
    gap: 10px;
    background: rgba(226, 232, 240);
}

header p {
    font-size: 1.2em;
}

span {
    font-size: 1.75em;
}

.navigation {
    margin-top: 3rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1r;
    gap:20px;
}

.branding {
    display: grid;
    margin-top: 4rem;
    gap: 20px;
}

div {
    /* border: 1px solid black; */
}

.big {
    height: 4em;
}

.headerGrid {
    height:100%;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.projects {
    grid-area: 1/1/3/2;
    /* border: 1px solid black; */
}

main>div > p {
    padding:0 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.trending {
    margin-top: 20px;
}

.projectGrid {
    margin-top: 19px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 40px
}

.maintenance {
    background: white;
    border-radius: 10px;
    box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.3);
    padding: 30px;
    margin-top: 19px;
    margin-left: 20px;
}

#trending {
    background: white;
    border-radius: 10px;
    box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.3);
    padding: 30px;
    margin-left: 20px;
}

.projectGrid > div  {
    /* margin-top: 1em; */
    height: 20vh;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.3);
    
}

.sidebar > div > div{
    display: flex;
    align-items: center;
}

img {
    height: 2em;
}

.headerGrid > div {
    display: flex;
    align-items: center;
}

button {
    height: 3em;
}

input {
    height: 2em;
    width: 100%;
}

#one {
    align-items: center;
    gap: 5px;
}

#two {
    justify-self: right;
    gap: 20px;
}

#three {
    /* border: 1px solid black; */
    align-items: start;
}

#four {
    /* border: 1px solid red; */
    justify-content: right;
    margin-top: 10px;
    align-items: start;
    display: flex;
    gap: 20px;
}

button {
    background: #1992d4;
    color: white;
    border-radius: 30px;
    /* padding: -10px; */
    border: none;
    height: 45px;
    width: 100px;
    justify-self: right;
    font-size: 1.2em;
}