@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr;
    grid-template-rows: .6fr 1fr 1fr;
    font-family: "Roboto", sans-serif;
}


.sidebar {
    border: 2px solid black;
    grid-row: 1/4;
    padding: 10px;
}


header {
    border: 2px solid red;
    grid-column:2/4;
}

main {
    border: 2px solid blue;
    grid-area:2/2/4/4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    gap: 10px;
}

.navigation {
    margin-top: 3rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1r;
    gap: 10px;
}

.branding {
    display: grid;
    margin-top: 3rem;
    gap: 10px;
}

div {
    border: 1px solid black;
}

.headerGrid {
    height:100%;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.projects {
    grid-area: 1/1/3/2;
}

.projectGrid {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 10px
}

.projectGrid > div  {
    height: 22vh;
    padding: 10px;
}

.sidebar > div > div{
    display: flex;
    align-items: center;
}

img {
    height: 2em;
}